<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Angular 1.x / AngularJS</title>
    <script type="text/javascript" src="./scripts/angular.min.js"></script>
  </head>
  <body>

    <div class="if">
      <h2>ng-if: true or false?</h2>
      <p ng-if="false">
        false
      </p>
      <p ng-if="true">
        true
      </p>
    </div>

    <div class="model init">
      <label>
        <input type="checkbox" ng-model="checked" ng-init="checked=true">
        Good morning?
      </label>
      <p>
        <span ng-if="checked">Liars - it is not a good morning!</span>
        <span ng-if="!checked">
          It may not be a good morning, but it's a great day to code!
        </span>
      </p>
    </div>

    <div class="directives">
      <div class="bind" ng-init="studentCount = 7">
        <p>The student count is: <span ng-bind="studentCount"></span></p>
        <p>2 + 2 = {{2+2}}</p>
        <ul>
          <li>the checkbox above is checked: {{checked}}</li>
          <li>studentCount is {{studentCount}}</li>
        </ul>
      </div>

    </div>

    <script type="text/javascript" src="./scripts/app.js"></script>
  </body>
</html>
